.montserrat-underline-500 {
  font-family: 'Montserrat Underline', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.playfair-display-800 {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.playfair-display-sc-regular {
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-sc-bold {
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-sc-black {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-style: normal;
}

.playfair-display-sc-regular-italic {
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display-sc-bold-italic {
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  font-style: italic;
}

.playfair-display-sc-black-italic {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-style: italic;
}

.ibm-plex-mono-thin {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-style: italic;
}

.montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.comfortaa-700 {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.comfortaa-400 {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.lora-400 {
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
