@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example custom utilities */
@layer utilities {
  .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
  }
}

:root {
  --wp--preset--color--primary: #7c027c;
  --wp--preset--color--secondary: #420142;
}
body {
  position: relative;
}

button {
  cursor: pointer;
}

/*! Projects */

#projects img {
  height: 400px;
  width: 40rem;
}
